header, .container, footer {
    font-family: sans-serif;
}
header {
    background-color: #1f2937;
    top: 0px;
    left: 0px;
    right: 0px;
    color: #f9faf8;
    margin: 0px;
    position: fixed;
    margin-bottom: 0px;
    font-size: 24px;
}
.header {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    padding: 0px 10%;
}
.header .logo {
    flex: 1;
    color: #f9faf8;
    font-weight: 700;
}
.header li {
    color: rgb(196, 196, 196);
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    left: 0px;
    right: 0px;
}
.top-box {
    padding: 60px 10%;
    display: flex;
    flex-direction: row;
    background-color: #1f2937;
    margin-top: 50px;
    gap: 10px;
}
.top-text-box {
    color: #f9faf8;
    flex: 1;
    align-self: center;
}
.main-img {
    width: auto;
    height: auto;
    object-fit: cover;
    overflow: hidden;
    flex: 1;
}
.main-title {
    margin: 0px;
    font-size: 48px;
}
.subtext {
    margin-top: 0px;
    color: rgb(196, 196, 196);
    font-size: 18px;
}
.sign-up1-button {
    color: white;
    text-decoration: none;
    background-color: #3882f6;
    font-size: 18px;
    padding: 10px 40px;
    border-radius: 8px;
    text-align: center;
    transition-duration: 0.3s;
}
.sign-up1-button:hover {
    color: #3882f6;
    background-color: white;
}
.middle {
    font-size: 36px;
    color: #1f2937;
    font-weight: bolder;
    text-align: center;
}
.info {
    display: flex;
    justify-content: center;
    gap: 5%;
    padding-bottom: 100px;
}
.infobox {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    width: 160px;
}
.infobox p {
    margin-top: 10px;
    font-size: 16px;
}
.infobox img {
    height: 150px;
    width: 150px;
    border: #3882f6 solid 5px;
    border-radius: 16px;
}
.quote {
    background-color: #e5e7eb;
    font-size: 20px;
    font-weight: 200;
    font-style: italic;
    text-align: left;
    padding: 100px 20%;
    
}
.quote .name {
    font-style: normal;
    font-weight: 600;
    text-align: right;
}
.sign-up-window {
    width: 60%;
    display: flex;
    background-color: #3882f6;
    color: white;
    border-radius: 16px;
    margin: 100px auto;
    text-align: left;
    padding: 50px 10%;
}
.sign-up-text h3{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0px;
}
.sign-up-text p {
    font-size: 16px;
    font-weight: 300;
    margin-top: 5px;
}
.sign-up2-button {
    text-decoration: none;
    color: white;
    border: 3px solid white;
    border-radius: 8px;
    margin-left: auto;
    font-size: 16px;
    font-weight: 300;
    padding: 10px 40px;
    height: fit-content;
    text-align: center;
    align-self: center;
    white-space: nowrap;
    transition-duration: 0.3s;
}
.sign-up2-button:hover {
    color: #3882f6;
    background-color: white;
}
footer {
    background-color: #1f2937;
    color: rgb(196, 196, 196);
    padding: 10px 0px;
    text-align: center;
}